.about {
  text-align: center;
  margin-top: 160px;
  line-height: 30px;
}

.about a {
  margin: 0.5rem;
}

.about a img {
  height: 40px;
  width: auto;
}

.links {
  margin-top: 1rem;
}

/* ipad */
@media (max-width: 1024px) {
  .about {
    margin-top: 300px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

/* iphone */
@media (max-width: 576px) {
  .about {
    margin-top: 200px;
  }
}