.download {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-container {
  width: 80%;
  min-height: 200px;
  background-color: var(--secondary-color);
  border: 2px dashed black;
  border-radius: 10px;
  margin: 1rem auto;
  text-align: center;
  transition: 200ms all ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-box {
  width: 90%;
  border-radius: 10px;
  border: 2px dashed black;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.3rem;
}

.link-box input {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.link-box input::placeholder {
  color: #2196f3;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.link-box input[type='text']:focus {
  border: none;
  outline: none;
}

.link-box img {
  height: 22px;
  width: auto;
  padding-left: 1rem;
}

#paste-link {
  color: #2196f3;
  line-height: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  overflow: hidden;
}

.download-btn {
  padding: 0.6rem 2rem;
  color: white;
  margin-top: 2rem;
  border-radius: 10px;
  cursor: pointer;
  background: var(--dark-orange);
  text-decoration: none;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 100ms ease-in-out;
}

.download-btn:hover {
  background-color: var(--red);
}

/* ipad */
@media (max-width: 1024px) {
  .download {
    margin-top: 10rem;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

/* iphone */
@media (max-width: 576px) {
  .download {
    margin-top: 4rem;
  }
}