.progress-bar {
  opacity: 1;
  margin: 2rem auto;
  width: 70%;
  min-height: 20px;
  background-color: var(--secondary-color);
  text-align: center;
  z-index: 1;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.upload-text {
  color: black;
  z-index: 4;
}

/* ipad */
@media (max-width: 1024px) {
  .progress-bar {
    min-height: 16px;
    margin: 3rem auto;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

/* iphone */
@media (max-width: 576px) {
  .progress-bar {
    min-height: 10px;
    margin: 2rem auto;
  }

  .progress-bar {
    margin: 2.5rem auto;
    width: 60%;
  }
}
